<div class="card border-secondary">
	<div class="card-body">
		<button type="button" id="remove{{team.abbreviation}}" class="btn-close float-end" (click)="onRemove()"></button>
		<h5 class="card-title">{{team.city}} {{team.name}} [{{team.abbreviation}}]</h5>
		<h6 class="card-subtitle mb-2 text-muted border-bottom border-1 border-secondary">{{team.conference}} Conference</h6>
		<div class="row">
			<div class="col">
				<div class="my-3">
					<div>Results for the past 12 days:</div>
					<span *ngFor="let game of team.gameHistory?.games">
						<span class="badge bg-success" [hidden]="game.teamScore <= game.opposingTeamScore">W</span>
						<span class="badge bg-danger" [hidden]="game.teamScore >= game.opposingTeamScore">L</span>
						<span class="badge bg-secondary" [hidden]="game.teamScore !== game.opposingTeamScore">D</span>
					</span>
				</div>
				<div class="my-2">Avg points scored: {{team.gameHistory?.averageScore | number: '1.0-2'}}</div>
				<div class="my-2">Avg points conceded: {{team.gameHistory?.averageConceded | number: '1.0-2'}}</div>
				<div class="mt-3">
					<a id="results{{team.abbreviation}}" class="btn btn-success" [routerLink]="['/results', team.id]">See Game Results >></a>
				</div>
			</div>
			<div class="col">
				<img class="img-fluid" [src]="'https://interstate21.com/nba-logos/' + team.abbreviation + '.png'" />
			</div>
		</div>
	</div>
</div>
