<form class="row mb-3" (ngSubmit)="trackTeam(selectedTeam)">
	<div class="col">
		<select id="teamInput" class="form-control" name="selectedTeam" [(ngModel)]="selectedTeam">
			<option value=""></option>
			<option *ngFor="let team of teamOptions" [ngValue]="team">
				{{team.city}} {{team.name}}
			</option>
		</select>
	</div>
	<div class="col">
		<button class="btn btn-primary" id="trackBtn" type="submit">
			Add team
		</button>
	</div>
</form>

<div class="row">
	<div class="col-sm-6" *ngFor="let team of trackedTeams">
		<nst-team [team]="team" (remove)="removeTrackedTeam($event)" (resultsClick)="storeData()"></nst-team>
	</div>
</div>